body {
  text-align: center;
  background-color: #F8F7F9;
}

li {
  list-style: none;

}

#disappear {
  margin: 0 auto;
  background-image: url("");
  background-size: cover;
  border: 2px solid black;
  border-radius: 75px;
  min-height: 376px;
  width: 500px;
  display: flex;
}

#id-list {
  margin-top: 60px;
  margin-left: auto;
  text-align: left;
  width: 50%;
}

#id-list li {
  margin-top: 50px;
  text-transform: uppercase;
  color: white;
  filter: drop-shadow(2px 2px 0 black);
}

#state {
  font-weight: bold;
}

#mclovin {
  max-width: 300px;
  margin-bottom: 30px;
}